{% extends "base.html" %}

{% block content %}
<h1 align="center">Works log</h1>
{% if current_user.is_authenticated %}
    <a href="jobs" class="btn btn-secondary">Добавить работу</a>
{% endif %}
{% for item in jobs%}
<h3>Action # {{ item.id }}</h3>
<div class="container">
  <div class="row" style="background-color:Khaki">
    <div class="col-sm">
      Title of activity
    </div>
    <div class="col-sm">
      Team leader
    </div>
    <div class="col-sm">
      Duration
    </div>
      <div class="col-sm">
      List of collaborators
    </div>
    <div class="col-sm">
      is finished
    </div>
  </div>
    <div class="row" style="background-color:LightCyan">
    <div class="col-sm">
      {{ item.job }}
    </div>
    <div class="col-sm">
      {{ item.user.surname }} {{ item.user.name }}
    </div>
    <div class="col-sm">
      {{ item.work_size }} hours
    </div>
      <div class="col-sm">
      {{ item.collaborators }}
    </div>
    <div class="col-sm" style="background-color: #ccc;">
        {% if item.is_finished == False %}
            <div>is not finished</div>
        {% else %}
            <div>finished</div>
        {% endif %}
    </div>
  </div>
  {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}